<div style="width: auto" class="container">

  <section class="content-header">
    <form #otitis_form_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Is this dog known to have RECURRING otitis externa? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw;" class="btn btn-1 btn-1a btn-crossed_0" [class.clicked_button]="otitis_form.recurring_otitis == true">
              <input #recurring_otitis="ngModel" [(ngModel)]="otitis_form.recurring_otitis" name="recurring_otitis" class='ng-hide' class='form-control' type="radio" value="1"> Yes</label>

            <label style="font-size: 2.5vw;" class="btn btn-1 btn-1a btn-crossed_1" [class.clicked_button]="otitis_form.recurring_otitis == false">
              <input #recurring_otitis="ngModel" [(ngModel)]="otitis_form.recurring_otitis" name="recurring_otitis" class='ng-hide' class='form-control' type="radio" value="0"
                     class='ng-hide'> No </label>
          </div>

        </div>

      </div>
      <ng-template [ngIf]="otitis_form.recurring_otitis == true">
        <div ng-show="pet_data['recurring_otitis']=='1'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2" style="color:red"> Warning </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                Your candidate can't be part of this study! Chances are too high he will create systematic increase of
                the
                CADESI-04</label>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template [ngIf]="otitis_form.recurring_otitis == false">
        <div ng-show="pet_data['recurring_otitis']=='0'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2"> Is this dog having a otitis externa right now ? </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw;" [class.clicked_button]="otitis_form.otitis == true"
                     class="btn btn-1 btn-1a btn-crossed_0">
                <input #otitis="ngModel" [(ngModel)]="otitis_form.otitis" name="otitis" class='ng-hide' class='form-control' type="radio" value="1"> Yes</label>

              <label style="font-size: 2.5vw;" [class.clicked_button]="otitis_form.otitis == false"
                     class="btn btn-1 btn-1a btn-crossed_1">
                <input #otitis="ngModel" [(ngModel)]="otitis_form.otitis" name="otitis" class='ng-hide' class='form-control' type="radio" value="0"
                       class='ng-hide'> No </label>
            </div>

          </div>

        </div>
      </ng-template>
      <ng-template [ngIf]="otitis_form.otitis == true">
        <div ng-show="pet_data['otitis']=='1' " class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2" style="color:red"> Warning </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                Otitis externa must be cured before joining the study!</label>
            </div>
          </div>

        </div>
      </ng-template>
    <ng-template [ngIf]="otitis_form.otitis == false">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label">Has this candidate ever encounter otitis externa episodes in the past ?</h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw;" [class.clicked_button]="otitis_form.otitis_history == true"
                   class="btn btn-1 btn-1a btn-crossed_0">
              <input #otitis_history="ngModel" [(ngModel)]="otitis_form.otitis_history" name="otitis_history" class='ng-hide' class='form-control' type="radio" value="1">
              Yes</label>

            <label style="font-size: 2.5vw;" [class.clicked_button]="otitis_form.otitis_history == false"
              class="btn btn-1 btn-1a btn-crossed_1">
              <input #otitis_history="ngModel" [(ngModel)]="otitis_form.otitis_history" name="otitis_history" class='ng-hide' class='form-control' type="radio" value="0"
                     > No </label>
          </div>
          <!-- /.box-body -->
        </div>
      </div>

    </ng-template>

      <button  *ngIf="otitis_form.otitis_history == false || otitis_form.otitis_history == true" (click)="save()" routerLink="/home/add-pet/desensitized" routerLinkActive="active"
              id="" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
              style='float:right'>Continue
      </button>

      <button routerLink="/home/add-pet/malassezia" routerLinkActive="active"  id="moving" type="button"
              name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
              style='float:left'>Return
      </button>
    </form>

  </section>
</div>
