table {
  width: 100%;
}

.material-icons {
  cursor: pointer;
}
.info-box-icon>img {
  max-width: 85%
}

.info-box-text p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
