<div style="width: auto" class="container">

  <section class="content-header">

    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label " for="id_crossed_name"> Tell us more about <b> {{pet_data.pet_name}}</b>'s breed !
        </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label style="font-size: 2.5vw;" ng-click="click_pure_breed()"
                 ng-class="{'active-button':pet_data.crossed==0}" for="id_crossed_0"
                 class="btn btn-1 btn-1a btn-crossed_0">
            <input class='ng-hide' class='form-control' type="radio" name="crossed" id="id_crossed_0" value="0"
                   ng-model="pet_data['crossed']" ng-required> Pure Breed </label>

          <label style="font-size: 2.5vw;" ng-click="click_crossed_breed()"
                 ng-class="{'active-button':pet_data.crossed==1}" for="id_crossed_1"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input class='ng-hide' class='form-control' type="radio" name="crossed" id="id_crossed_1" value="1"
                   ng-model="pet_data['crossed']" ng-required class='ng-hide'> Crossed Breeds</label>

          <label style="font-size: 2.5vw;" ng-click="click_unknown_breed()"
                 ng-class="{'active-button':pet_data.crossed==2}" for="id_crossed_2"
                 class="btn btn-1 btn-1a btn-crossed_2">
            <input class='ng-hide' class='form-control' type="radio" name="crossed" id="id_crossed_2" value="2"
                   ng-model="pet_data['crossed']" ng-required class='ng-hide'>I don't know</label>
        </div>

      </div>


    </div>
    <!-- /.box-body -->


    <div ng-show="pet_data.crossed==0 || pet_data.crossed==1 || pet_data.crossed==2" class="box box-default box-solid ">
      <!-- /.box-header -->
      <div class="box-body">

        <div ng-show="pet_data['specy']==1">
          <div class="has-feedback form-group" ng-show="pet_data.crossed!==2">
            <div class="has-feedback form-group ng-class" ng-show="pet_data.crossed=='0'">

              <h2 class="control-label" for="id_breed_dog_1_pure"> What is <b> {{pet_data.pet_name}}</b>'s breed ? </h2>
              <!--<ui-select ng-model="pet_data.breed_dog_1_pure" style="width:100%;font-size:25px;height:30px"-->
                         <!--theme="bootstrap" title="Choose a Breed" append-to-body="true" class="select2">-->
                <!--<ui-select-match placeholder="Select a Breed">{{$select.selected.breed_name}}</ui-select-match>-->
                <!--<ui-select-choices-->
                  <!--repeat="breed.id as breed in breed_data | orderBy : 'breed_name' | propsFilter: {breed_name: $select.search}">-->
                  <!--<div ng-bind-html="breed.breed_name | highlight: $select.search"></div>-->
                <!--</ui-select-choices>-->
              <!--</ui-select>-->
            </div>


            <div class="has-feedback form-group ng-class" ng-show="pet_data.crossed==1">
              <div class="col-lg-6 ng-class">
                <h2 class="control-label" for="id_breed_dog_1"> What is <b>{{pet_data.pet_name}}</b>'s 1st breed ? </h2>

                <!--<ui-select ng-model="pet_data.breed_dog_1" style="width:100%;font-size:25px;height:30px"-->
                           <!--theme="bootstrap" title="Choose a 1st Breed" append-to-body="true">-->
                  <!--<ui-select-match placeholder="Select a 1st Breed">{{$select.selected.breed_name}}</ui-select-match>-->
                  <!--<ui-select-choices-->
                    <!--repeat="breed.id as breed in breed_data | orderBy : 'breed_name' | propsFilter: {breed_name: $select.search}">-->
                    <!--<div ng-bind-html="breed.breed_name | highlight: $select.search"></div>-->
                  <!--</ui-select-choices>-->
                <!--</ui-select>-->


              </div>
              <div class="col-lg-6 ng-class">
                <h2 class="control-label" for="id_breed_dog_2"> What is <b> {{pet_data.pet_name}}</b>'s 2nd breed ?
                </h2>
                <!--<ui-select ng-model="pet_data.breed_dog_2" style="width:100%;font-size:25px;height:30px"-->
                           <!--theme="bootstrap" title="Choose a Breed" append-to-body="true">-->
                  <!--<ui-select-match placeholder="Select a 2nd Breed">{{$select.selected.breed_name}}</ui-select-match>-->
                  <!--<ui-select-choices-->
                    <!--repeat="breed.id as breed in breed_data | orderBy : 'breed_name' | propsFilter: {breed_name: $select.search}">-->
                    <!--<div ng-bind-html="breed.breed_name | highlight: $select.search"></div>-->
                  <!--</ui-select-choices>-->
                <!--</ui-select>-->
              </div>
            </div>

          </div>

          <div ng-show="pet_data.crossed==2">
            <div style="text-align:center">
              <h2 class="control-label" for="id_dog_format"> Evaluate <b>{{pet_data.pet_name}}</b>'s size </h2>
            </div>
            <div id="format_dog_pictures" class="cc-format-selector has-feedback form-group">

              <input id="id_dog_format_0" type="radio" name="pet_form.dog_format0" value="1"
                     ng-model="pet_data['dog_format']" style='width:0%' class='ng-hide'/>
              <label class="drinkcard-format-cc id_dog_format_0" for="id_dog_format_0"></label>

              <input id="id_dog_format_1" type="radio" name="pet_form.dog_format1" value="2"
                     ng-model="pet_data['dog_format']" style='width:0%' class='ng-hide'/>
              <label class="drinkcard-format-cc id_dog_format_1" for="id_dog_format_1"></label>

              <input id="id_dog_format_2" type="radio" name="pet_form.dog_format2" value="3"
                     ng-model="pet_data['dog_format']" style='width:0%' class='ng-hide'/>
              <label class="drinkcard-format-cc id_dog_format_2" for="id_dog_format_2"></label>


              <input id="id_dog_format_3" type="radio" name="pet_form.dog_format3" value="4"
                     ng-model="pet_data['dog_format']" style='width:0%' class='ng-hide'/>
              <label class="drinkcard-format-cc id_dog_format_3" for="id_dog_format_3"></label>


              <input id="id_dog_format_4" type="radio" name="pet_form.dog_format4" value="5"
                     ng-model="pet_data['dog_format']" style='width:0%' class='ng-hide'/>
              <label class="drinkcard-format-cc id_dog_format_4" for="id_dog_format_4"></label>
            </div>
          </div>

        </div>
      </div>
      <!-- /.box-body -->
    </div>


    <button routerLink="/home/add-pet/gender" routerLinkActive="active" ng-click="forward()" ui-sref="add_pet.gender"
            ng-show="(pet_data['specy']==1 && pet_data['crossed']==0 && pet_data['breed_dog_1_pure']!=='') || (pet_data['specy']==1 && pet_data['crossed']==1 && pet_data['breed_dog_1']!=='' && pet_data['breed_dog_2']!=='') || (pet_data['specy']==1 && pet_data['crossed']==2 && (pet_data['dog_format']==1 || pet_data['dog_format']==2 ||pet_data['dog_format']==3 || pet_data['dog_format']==4 || pet_data['dog_format']==5))"
            id="" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
            style='float:right'>Continue
    </button>


    <button routerLink="/home/add-pet/age" routerLinkActive="active" ng-click="backward()" ui-sref="add_pet.gender" id="moving" type="button"
            name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
            style='float:left'>Return
    </button>


  </section>
</div>
