<div style="width: auto" class="container">

  <section class="content-header">
    <form #breed_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label " for="id_crossed_name"> Tell us more about <b><app-pet-name></app-pet-name></b>'s breed !
          </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw;" [class.clicked_button]="breed_form.crossed == 0"
                   class="btn btn-1 btn-1a btn-crossed_0">
              <input #crossed="ngModel" [(ngModel)]="breed_form.crossed" name="crossed" class='ng-hide' class='form-control' type="radio" value="0"> Pure Breed
            </label>

            <label style="font-size: 2.5vw;" [class.clicked_button]="breed_form.crossed == 1"
                   class="btn btn-1 btn-1a btn-crossed_1">
              <input #crossed="ngModel" [(ngModel)]="breed_form.crossed" name="crossed" class='ng-hide' class='form-control' type="radio" value="1"
                     class='ng-hide'> Crossed Breeds</label>

            <label style="font-size: 2.5vw;" [class.clicked_button]="breed_form.crossed == 2"
                   class="btn btn-1 btn-1a btn-crossed_2">
              <input #crossed="ngModel" [(ngModel)]="breed_form.crossed" name="crossed" class='ng-hide' class='form-control' type="radio" value="2"
                     class='ng-hide'>I don't know</label>
          </div>

        </div>


      </div>
      <!-- /.box-body -->

      <ng-template
        [ngIf]="breed_form.crossed == 0 || breed_form.crossed == 1 || breed_form.crossed == 2">
        <div class="box box-default box-solid ">
          <!-- /.box-header -->
          <div class="box-body">

            <div ng-show="pet_data['specy']==1">

              <div class="has-feedback form-group">
                <ng-template [ngIf]="breed_form.crossed == 0">
                  <div class="has-feedback form-group ng-class">

                    <h2 class="control-label" for="id_breed_dog_1_pure"> What is <b><app-pet-name></app-pet-name></b>'s breed ?
                    </h2>

                    <select class="dropdown-select ng-dirty ng-valid ng-touched" theme="bootstrap"
                            #breed_dog_1="ngModel" [(ngModel)]="breed_form.breed_dog_1" name="breed_dog_1">
                      <option class="dropdown-select">
                        example
                      </option>
                    </select>

                  </div>

                </ng-template>
                <ng-template [ngIf]="breed_form.crossed == 1">
                  <div class="has-feedback form-group ng-class" ng-show="pet_data.crossed==1">
                    <div class="col-lg-6 ng-class">
                      <h2 class="control-label" for="id_breed_dog_1"> What is <b><app-pet-name></app-pet-name></b>'s 1st breed ?
                      </h2>

                      <select class="dropdown-select ng-dirty ng-valid ng-touched" theme="bootstrap"
                              #breed_dog_2="ngModel" [(ngModel)]="breed_form.breed_dog_2" name="breed_dog_2">
                        <option class="dropdown-select">
                          example
                        </option>
                      </select>


                    </div>
                    <div class="col-lg-6 ng-class">
                      <h2 class="control-label" for="id_breed_dog_2"> What is <b><app-pet-name></app-pet-name></b>'s 2nd breed ?
                      </h2>
                      <select class="dropdown-select ng-dirty ng-valid ng-touched" theme="bootstrap"
                              #breed_dog_2="ngModel" [(ngModel)]="breed_form.breed_dog_2" name="breed_dog_2">
                        <option class="dropdown-select">
                          example
                        </option>
                      </select>
                    </div>
                  </div>
                </ng-template>

              </div>
              <ng-template [ngIf]="breed_form.crossed == 2">
                <div>
                  <div style="text-align:center">
                    <h2 class="control-label" for="id_dog_format"> Evaluate <b><app-pet-name></app-pet-name></b>'s size </h2>
                  </div>
                  <div id="format_dog_pictures" class="cc-format-selector has-feedback form-group">


                    <label class="drinkcard-format-cc id_dog_format_0" [class.clicked_button]="breed_form.crossed == 1">
                      <input #dog_format="ngModel" [(ngModel)]="breed_form.dog_format" name="dog_format" id="id_dog_format_0" type="radio" value="A"
                             style='width:0%' class='ng-hide'/></label>


                    <label class="drinkcard-format-cc id_dog_format_1" [class.clicked_image]="breed_form.dog_format == 2">
                      <input #dog_format="ngModel" [(ngModel)]="breed_form.dog_format" name="dog_format"
                             id="id_dog_format_1" type="radio"
                             value="B"
                             style='width:0%'
                             class='ng-hide'/></label>


                    <label class="drinkcard-format-cc id_dog_format_2" [class.clicked_image]="breed_form.dog_format == 3">
                      <input #dog_format="ngModel" [(ngModel)]="breed_form.dog_format" name="dog_format"
                             id="id_dog_format_2" type="radio"
                             value="C"
                             style='width:0%' class='ng-hide'/></label>


                    <label class="drinkcard-format-cc id_dog_format_3" [class.clicked_image]="breed_form.dog_format == 4">
                      <input #dog_format="ngModel" [(ngModel)]="breed_form.dog_format" name="dog_format" id="id_dog_format_3" type="radio"
                             value="D"
                             style='width:0%'
                             class='ng-hide'/></label>


                    <label class="drinkcard-format-cc id_dog_format_4" [class.clicked_image]="breed_form.dog_format == 5">
                      <input #dog_format="ngModel" [(ngModel)]="breed_form.dog_format" name="dog_format" id="id_dog_format_4" type="radio" value="E"
                             style='width:0%' class='ng-hide'/></label>
                  </div>
                </div>
              </ng-template>

            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </ng-template>

      <button *ngIf="breed_form.breed_dog_1 || breed_form.breed_dog_2 || breed_form.dog_format"
              (click)="save()" routerLink="/home/add-pet/gender" routerLinkActive="active"
              id="" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
              style='float:right'>Continue
      </button>


      <button routerLink="/home/add-pet/age" routerLinkActive="active"
              id="moving" type="button"
              name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
              style='float:left'>Return
      </button>
    </form>

  </section>
</div>
