<div style="width: auto" class="container">

  <section class="content-header">

    <form #owner_informations_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Afin que le prorpiétaire puisse être contacté par l'université de
            Zürich
            Let's fill some data about the owner in order for UZH to contact him
            ? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Nom du propriétaire</label>

              <div class="col-sm-10">
                <input #owner_name="ngModel" [(ngModel)]="owner_informations_form.owner_name" name="owner_name"
                       type="text" class="form-control"
                       placeholder="Owner's Name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Numéro de téléphone du propriétaire</label>

              <div class="col-sm-10">
                <input #owner_phone="ngModel" [(ngModel)]="owner_informations_form.owner_phone" name="owner_phone"
                       type="number" class="form-control"
                       placeholder="Owner's phone number">
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Addresse email du propriétaire</label>

                <div class="col-sm-10">
                  <input #owner_email="ngModel" [(ngModel)]="owner_informations_form.owner_email" name="owner_email"
                         type="email" class="form-control"
                         placeholder="Owner's email adress">
                </div>


              </div>
              <div class="form-group">
                <div class=" col-sm-10">
                  <div class="checkbox">

                    <mat-checkbox #accept_data_sharing="ngModel"
                                  [(ngModel)]="owner_informations_form.accept_data_sharing"
                                  name="accept_data_sharing"> Le propriétaire accepte de partager les données médicales
                      de son chie avec l'université de Zürich et d'être <br>
                      contacté par un membre de l'université de Zürich par email ou par téléphone, si nécessaire.
                    </mat-checkbox>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <button *ngIf="owner_informations_form.accept_data_sharing" (click)="save()" routerLink="/home/add-pet/success"
                routerLinkActive="active" id="moving" type="button"
                name="next"
                class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Suivant
        </button>


        <button routerLink="/home/add-pet/fat" routerLinkActive="active"
                id="" type="button" name="previous"
                class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous" style='float:left'>
          Continue
        </button>

      </div>
    </form>

    <p>

    </p>
  </section>
</div>
