<div style="width: auto" class="container">

  <section class="content-header">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1><i class="glyphicon glyphicon-ok"></i> Sucess</h1>
      </div>
      <!-- /.box-header -->
      <div style="text-align:center" class="box-body">
        <h3> is now part of a clinical study lead by the Dermatology Service of Zürich University
          Clinic for Small Animals
          <h3>

            <a href="/home/welcome">
              <h1 class="animated infinite pulse">
                <i class="fa fa-home"></i>
              </h1>
            </a>
          </h3>
        </h3>
      </div>
      <!-- /.box-body -->
    </div>

  </section>
</div>
