<div style="width: auto" class="container">

  <section class="content-header">
    <div class="row">
      <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input ng-model="query" type="text" class="form-control" placeholder="Search by name">
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-6 col-xs-6">
        <a routerLink="/home/add-pet/disclaimer" routerLinkActive="active">
          <button type="button" class="btn btn-block btn-default">Add a new pet <i class="fa fa-plus"
                                                                                   style="float:right"></i></button>
        </a>
      </div>
    </div>

    <div>
      <br>
    </div>


    <div class="row">
      <div *ngFor="let pet of pets; let index = index">
        <div *ngIf="pet.display == true && !list_of_hidden.includes(pet.id)" class="col-md-6" [class.wasClickedHide]="set_pet == pet.id">
          <div class="box box-widget widget-user-2 list-single-pet" (click)="setSelected(pet.id)"
               [class.wasClicked]="set_color == pet.id">
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" (click)="hidePet(pet.id); hideSinglePetFromBackend(pet.id)"
              ><i
                class="fa fa-times"></i></button>
            </div>

            <div class="widget-user-header" [class.girl-header]="pet?.gender == 2"
                 [class.boy-header]="pet?.gender == 1">

              <div class="widget-user-image">
                <img class="img-circle" src="https://smart-nutrition.s3.amazonaws.com/data/img/dog_user.png"
                     alt="Pet Avatar Dog">
              </div>

              <!-- /.widget-user-image -->
              <h3 class="widget-user-username">{{ pet?.pet_name }}</h3>
              <!--<h5 style="font-size:12px" ng-if="pet.is_sick==1"><b>The Homemade recipe is available but need to be-->
              <!--checked by your Vet</b></h5>-->
              <h5 class="widget-user-desc">Inclusion Date :<i>{{ pet?.date_logs.inclusion_date }}</i></h5>
            </div>
            <div class="box-footer no-padding">

              <ul class="nav nav-stacked">

                <li>
                  <a>Ideal Weights<span class="pull-right badge bg-blue">{{ pet?.getIDEALWEIGHT }} kg</span></a>
                </li>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Update Weights

                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <li>
                    <div style="border-top-style: solid; border-top-color:#3c8dbc;"
                         uib-collapse="!pet.expanded">
                      <form name="weightForm">
                        <div class="modal-header">
                          <h3 style="text-align:center" class="modal-title" id="modal-title"> Follow up
                            with <b></b> weight </h3>


                          <canvas baseChart id="bar" class="chart chart-bar" style="width: 100%"
                                  [datasets]="pieChartData"
                                  [labels]="pieChartLabels"
                                  [chartType]="pieChartType"
                                  [legend]="false"
                                  (chartClick)="chartClicked($event)"></canvas>
                        </div>

                        <div>
                        </div>


                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Add a Weight to logs

                            </mat-panel-title>

                          </mat-expansion-panel-header>

                          <div class="col-lg-6">


                            <p class="input-group">
                              <input name="new_date"
                                     ng-class="{ 'has-error' : weightForm.new_date.$invalid && !weightForm.new_date.$pristine ,'has-success':weightForm.new_date.$valid}"
                                     type="text" class="form-control" uib-datepicker-popup
                                     ng-model="pet_to_show_weight.dt" is-open="popup2.opened"
                                     datepicker-options="dateOptions" ng-required="true"
                                     close-text="Close" ng-click="open2()" required/>
                              <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open2()"><i
                                        class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                </span>
                            </p>

                          </div>
                          <div class="col-lg-6">
                            <div class="form-group has-feedback">
                              <input style='width:100%'

                                     min="0" max="150" ng-model="pet_to_show_weight.new_weight"
                                     type="number" class="form-control" name="new_weight"
                                     placeholder="Type your pet'sweight on the specified date"
                                     required>

                            </div>

                          </div>
                          <p style='text-align:center'
                             ng-show="weightForm.new_weight.$error.min || weightForm.new_weight.$error.max"
                             class="help-block error">Do not get cocky and give me a valid weight</p>
                          <p style='text-align:center' ng-show="weightForm.new_weight.$error.number"
                             class="help-block error">You could at list give numbers! </p>


                          <button style='width:100%' ng-disabled="weightForm.$invalid"
                                  ng-click='update_weight(pet)' type="button"
                                  class="btn btn-info btn-flat">Update current Weight
                          </button>

                        </mat-expansion-panel>
                        <div>
                        </div>
                        <div>
                        </div>
                      </form>

                    </div>
                  </li>

                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Update Datas

                    </mat-panel-title>

                  </mat-expansion-panel-header>
                </mat-expansion-panel>

              </ul>
            </div>
          </div>
        </div>
      </div>

      <button *ngIf="is_clicked" routerLink="/home/{{ route_link_next }}" routerLinkActive="active" (click)="putData()"
              id="moving" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
              style='float:right'>Continue
      </button>

    </div>
  </section>

</div>



