<div style="width: auto" class="container">

  <section class="content-header">
    <form #age_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label"> How old is <b> </b> ? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">


            <div class="has-feedback form-group col-lg-6">
              <select class="dropdown-select ng-dirty ng-valid ng-touched" theme="bootstrap" #age_year="ngModel" [(ngModel)]="age_form.age_year" name="age_year">
                <option class="dropdown-select" *ngFor="let year of years">
                  {{year}}</option>
              </select>
            </div>


            <div class="has-feedback form-group col-lg-6">
              <select class="dropdown-select" theme="bootstrap" #age_month="ngModel" [(ngModel)]="age_form.age_month" name="age_month">
                <option class="dropdown-select" *ngFor="let month of months">{{month}}</option>
              </select>
            </div>


          </div>
        </div>
        <!-- /.box-body -->
      </div>


      <button (click)="save()" routerLink="/home/add-pet/breed" routerLinkActive="active"  id="moving"
              type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
              style='float:right'>Continue
      </button>


      <button routerLink="/home/add-pet/name" routerLinkActive="active" ng-click="backward()" id="" type="button"
              name="previous"
              class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous" style='float:left'>
        Return
      </button>
    </form>

  </section>
</div>
