<div style="width: auto" class="container">

  <section class="content-header">
    <form #diet_agreedForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid">
        <div style="text-align:center" class="box-header with-border">
          <h1><i class="icon fa fa-warning"></i> This clinical study aims at studying the relationship between <b>atopic
            dermatitis</b> and <b>homemade diet</b> <i class="icon fa fa-warning"></i></h1>
          <h3 style='color:red'> Those diet are not balanced for specific therapeutic and physiolgic situation. Please
            do
            attest that : </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:left" class="age">
            <ul>
              <li>Your candidate is not a growing dog, lactating or pregnant bitch</li>
              <li> Your candidate is not suffering from any gastrointestinal diseases that would require specific
                adjustment
                of the diet : IBD, Exocrine Pancreatic Insufficiency, Diabetis, etc.
              </li>
              <li>Your candidate is not suffering from any chronical kidney disease or heat disea that would require
                specific
                adjustment of the diet
              </li>
              <li>Your candidate is not suffering from cancer</li>
              <li>Your candidate is not suffering from obesity and engaging in a weight loss program</li>
              <li>Your candidate is not suffering for a diagnosed allergy to the following item : egg, chicken,
                zuchinnis,
                pasta, blueberries, yeast
              </li>
            </ul>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <input #diet_agreed="ngModel" [(ngModel)]="disclaimer.diet_agreed" type="checkbox"
                         placeholder="diet_agreed"
                         required id="diet_agreed" name="diet_agreed"> I agree
                  with
                  the previous statements

                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
      <!-- /.box-body -->

       <button *ngIf="disclaimer.diet_agreed == true" routerLink="{{ route_link_next }}" routerLinkActive="active" (click)="save()"
              type="submit"
              class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Continue
      </button>


      <button routerLink="{{ route_link_back }}" routerLinkActive="active" ng-click='back()' ui-sref="add_pet.favrot_criteria"
              id="moving" type="button"
              name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
              style='float:left'>Return
      </button>

    </form>


  </section>
</div>
