<div *ngIf="route_boolean == 0">
  <app-common-labels [label_title]="'New Physical Consultation'"
                     [label_desc]="'How is this new diet going ?'"></app-common-labels>
</div>

<div *ngIf="route_boolean == 1">
  <app-common-labels [label_title]="'New Phone Consultation'"
                     [label_desc]="'How is this new diet going ?'"></app-common-labels>
</div>
<div style="width: auto" class="container">

  <section class="content-header">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2" style=""> Is there any diarrhea since <b>
          <app-common-data [element]="'pet_name'"></app-common-data>
        </b> is fed with the new diet ? (or
          more than with the previous diet)
        </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="diarrhea == 1" style="font-size: 2.5vw"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="make_diet_supporting()" [(ngModel)]="diarrhea" class='form-control' type="radio" name="third"
                   value="1"
                   > Yes </label>

          <label [class.clicked_button]="diarrhea == 0" style="font-size: 2.5vw"

                 class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="make_diet_not_supporting()" [(ngModel)]="diarrhea" class='form-control' type="radio" name="third"
                   value="0"
                  > No </label>
        </div>

      </div>

    </div>


    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2"> Is there any vomitting since <b>
          <app-common-data [element]="'pet_name'"></app-common-data>
        </b> is fed with the new diet ? (or more than
          with the previous diet)
        </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="vomitting == 1" style="font-size: 2.5vw"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="make_diet_supporting()" [(ngModel)]="vomitting" class='form-control' type="radio" name="second"
                   value="1"
                   ng-required> Yes </label>

          <label [class.clicked_button]="vomitting == 0" style="font-size: 2.5vw"
                               class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="make_diet_not_supporting()" [(ngModel)]="vomitting" class='form-control' type="radio" name="second"
                   value="0"
                   > No </label>
        </div>

      </div>

    </div>


    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2"> Is the owner under the impression that <b>
          <app-common-data [element]="'pet_name'"></app-common-data>
        </b> is craving for food more than he
          was before starting this diet ?
        </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="satiety == 1" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="make_diet_supporting()" [(ngModel)]="satiety" class='form-control' type="radio" name="first"
                   value="1"
                   > Yes</label>

          <label [class.clicked_button]="satiety == 0" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="make_diet_not_supporting()" [(ngModel)]="satiety" class='form-control' type="radio" name="first"
                   value="0"
                  > No </label>
        </div>

      </div>

    </div>

    <ng-template [ngIf]="diarrhea == 1 || vomitting == 1 || satiety == 1">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border error-header">
          <h1 class="control-label" for="id_Sup2"> Warning </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw">
              It seems that is not adapting well enough to its new diet to remain in
              the study! </label>
          </div>
        </div>

      </div>
    </ng-template>

    <button routerLink="{{ route_link_next }}" routerLinkActive="active" (click)="save()"
            type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
            style='float:right'>Continue
    </button>

    <button routerLink="{{ route_link_back }}" routerLinkActive="active"
            type="button"
            name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
            style='float:left'>Return
    </button>

  </section>
</div>
