<div style="width: auto" class="container">
  <div>

    <section class="content-header">
      <form #cadesiForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
        <ng-template [ngIf]="route_boolean == 'add-pet' || route_boolean == 'new-physical-consultation'">
          <div class="box box-default box-solid ">
            <div style="text-align:center" class="box-header with-border">
              <div>
                <h1 for="id_pet_name">Fill this CADESI-04 scale for your candidate</h1>
              </div>
              <div>
                <p for="id_pet_name">Click on each digit to increase the score</p>
              </div>
            </div>
            <!-- /.box-header -->
            <div style="text-align:center" class="box-body">


              <div class="col-xs-12">
                <div class="box">
                  <div class="box-header">
                    <div>
                      <h2 class="box-title" ng-class="{cadesi_sup_35:getTotal_of_cadesi()>35}">
                        Total: {{ cadesi.total  }} </h2>
                    </div>
                    <div>
                      <h2 style="color:red" ng-show="getTotal_of_cadesi()>35" class="box-title"
                          ng-class="{cadesi_sup_35:getTotal_of_cadesi()>35}">This study only includes mild atopic
                        dermatitis
                        cases
                        (cadesi-04 < 35 )</h2>
                    </div>

                  </div>
                  <!-- /.box-header -->
                  <div class="box-body table-responsive no-padding">
                    <table class="table disable-text-selection">
                      <tbody>
                      <tr>
                        <th>Region Picture</th>
                        <th>Region Name</th>
                        <th>Erythema</th>
                        <th>Lichenification</th>
                        <th>Alopecia</th>
                      </tr>

                      <tr style='text-align:center;font-size:50px' *ngFor="let region of cadesi_details | keyvalue">
                        <td><img src="{{region.value.img_adress}}"></td>
                        <td>{{ region.value.region }}</td>

                        <td (click)="updateErythema(region.key); countTotal(region.key)">
                          <input value="{{ region.value.value_erythema }} readonly"></td>
                        <td (click)="updateLichenification(region.key); countTotal(region.key)">
                          <input type="text" value="{{ region.value.value_lichenification }} readonly"></td>
                        <td (click)="updateAlopecia(region.key); countTotal(region.key)">
                          <input value="{{ region.value.value_alopecia }} readonly"></td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </ng-template>

        <div class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label"> Estimate the pruritus score (10 points-scale) </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body" style="text-align:center">
            <br>
            <br>


            <mat-slider step="1" max=10 min=0 #pruritus_score="ngModel"
                        [(ngModel)]="cadesi.pruritus_score" name="pruritus_score"
                        [ngModelOptions]="{standalone: true}"></mat-slider>
          </div>
          <div style="text-align:center">
            <div
              [ngStyle]="(cadesi.pruritus_score == null || cadesi.pruritus_score == 0 || cadesi.pruritus_score == 1) && {'color': 'red'}">
              <h3><span> No itching </span></h3>
              <h4> Normal Dog, I don't think itching is a problem </h4>
            </div>

            <div
              [ngStyle]="(cadesi.pruritus_score == 1 || cadesi.pruritus_score == 2 || cadesi.pruritus_score == 3) && {'color': 'red'}">
              <h3><span> Very Mild Itching / Occasional Episodes </span></h3>
              <h4> The dog is slightly more itchy than it was before the skin problem started</h4>
            </div>


            <div
              [ngStyle]="(cadesi.pruritus_score == 3 || cadesi.pruritus_score == 4 || cadesi.pruritus_score == 5) && {'color': 'red'}">
              <h3><span>Mild itching / a bit more frequent</span></h3>
              <h4>Wouldn't itch when sleeping, eating, playing, exercising or being distracted </h4>
            </div>


            <div
              [ngStyle]="(cadesi.pruritus_score == 5 || cadesi.pruritus_score == 6 || cadesi.pruritus_score == 7) && {'color': 'red'}">
              <h3><span> Moderate itching / regular episodes </span></h3>
              <h4> Itching might occur at night (if observed), but not when eating, playing, or being distracted </h4>
            </div>


            <div
              [ngStyle]="(cadesi.pruritus_score == 7 || cadesi.pruritus_score == 8 || cadesi.pruritus_score == 9) && {'color': 'red'}">
              <h3><span> Severe itching / prolonged episodes </span></h3>
              <h4> Itching might occur at night (if observed) and also when eating, playing, exercising or being
                distracted </h4>
            </div>


            <div [ngStyle]="(cadesi.pruritus_score == 10 || cadesi.pruritus_score == 9) && {'color': 'red'}">
              <h3><span> Extremely sever itching / almost continuous </span></h3>
              <h4> Itching doesn't stop whatever is happening, even in the consulting room (needs to be physically
                restrained
                from itching) </h4>
            </div>
          </div>
        </div>

        <button routerLink="/home/{{ route_link_next }}" routerLinkActive="active" (click)="save()"
                ui-sref="add_pet.flea_treatment"
                ng-show="getTotal_of_cadesi()!=='0' & pet_data.pruritus_score!=''" id="" type="button" name="next"
                class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Continue
        </button>

        <button routerLink="/home/{{ route_link_back }}" routerLinkActive="active" ng-click='back()'
                ui-sref="add_pet.favrot_criteria" id="moving" type="button"
                name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
                style='float:left'>Return
        </button>


      </form>

    </section>


  </div>
</div>


