<div style="width: auto" class="container">
  <div>
    <section class="content-header">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <div>
            <h1 for="id_pet_name">Fill this CADESI-04 scale for your candidate</h1>
          </div>
          <div>
            <p for="id_pet_name">Click on each digit to increase the score</p>
          </div>
        </div>
        <!-- /.box-header -->
        <div style="text-align:center" class="box-body">


          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <div>
                  <h2 class="box-title" ng-class="{cadesi_sup_35:getTotal_of_cadesi()>35}">
                    Total: </h2>
                </div>
                <div>
                  <h2 style="color:red" ng-show="getTotal_of_cadesi()>35" class="box-title"
                      ng-class="{cadesi_sup_35:getTotal_of_cadesi()>35}">This study only includes mild atopic
                    dermatitis
                    cases
                    (cadesi-04 < 35 )</h2>
                </div>

              </div>
              <!-- /.box-header -->
              <div class="box-body table-responsive no-padding">
                <table class="table disable-text-selection">
                  <tbody>
                  <tr>
                    <th>Region Picture</th>
                    <th>Region Name</th>
                    <th>Erythema</th>
                    <th>Lichenification</th>
                    <th>Alopecia</th>
                  </tr>



                  <tr style='text-align:center;font-size:50px' *ngFor="let region of cadesi_details | keyvalue">

                   <td><img src="{{region.value.img_adress}}"></td>
                   <td>{{ region.value.region }}</td>
                    <td (click)="region.value.value_erythema> 2  ? region.value.value_erythema=0 : region.value.value_erythema=region.value.value_erythema+1"><input type="text" value="{{ region.value.value_erythema }} readonly"></td>
                    <td (click)="region.value.value_lichenification> 2  ? region.value.value_lichenification=0 : region.value.value_lichenification=region.value.value_lichenification+1"><input type="text" value="{{ region.value.value_lichenification }} readonly"></td>
                    <td (click)="region.value.value_alopecia> 2  ? region.value.value_alopecia=0 : region.value.value_alopecia=region.value.value_alopecia+1"><input type="text" value="{{ region.value.value_alopecia }} readonly"></td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>


      </div>
      <!-- /.box-body -->


      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label"> Estimate the pruritus score (10 points-scale) </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="text-align:center">
          <br>
          <br>
          <!--<rzslider class="custom-slider"-->
          <!--rz-slider-model="pet_data.pruritus_score"-->
          <!--rz-slider-options="slider_pruritus.options"></rzslider>-->
        </div>
        <div style="text-align:center">
          <div [ngStyle]="(rv == null || rv == 0 || rv == 1) && {'color': 'red'}">
            <h3><span> No itching </span></h3>
            <h4> Normal Dog, I don't think itching is a problem </h4>
          </div>

          <div [ngStyle]="(rv == 1 || rv == 2 || rv == 3) && {'color': 'red'}">
            <h3><span> Very Mild Itching / Occasional Episodes </span></h3>
            <h4> The dog is slightly more itchy than it was before the skin problem started</h4>
          </div>


          <div [ngStyle]="(rv == 3 || rv == 4 || rv == 5) && {'color': 'red'}">
            <h3><span>Mild itching / a bit more frequent</span></h3>
            <h4>Wouldn't itch when sleeping, eating, playing, exercising or being distracted </h4>
          </div>


          <div [ngStyle]="(rv == 5 || rv == 6 || rv == 7) && {'color': 'red'}">
            <h3><span> Moderate itching / regular episodes </span></h3>
            <h4> Itching might occur at night (if observed), but not when eating, playing, or being distracted </h4>
          </div>


          <div [ngStyle]="(rv == 7 || rv == 8 || rv == 9) && {'color': 'red'}">
            <h3><span> Severe itching / prolonged episodes </span></h3>
            <h4> Itching might occur at night (if observed) and also when eating, playing, exercising or being
              distracted </h4>
          </div>


          <div [ngStyle]="(rv == 10 || rv == 9) && {'color': 'red'}">
            <h3><span> Extremely sever itching / almost continuous </span></h3>
            <h4> Itching doesn't stop whatever is happening, even in the consulting room (needs to be physically
              restrained
              from itching) </h4>
          </div>

        </div>


      </div>
      <!-- /.box-body -->


      <button routerLink="/home/add-pet/flea-treatment" routerLinkActive="active" ui-sref="add_pet.flea_treatment"
              ng-show="getTotal_of_cadesi()!=='0' & pet_data.pruritus_score!=''" id="" type="button" name="next"
              class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Continue
      </button>


      <button routerLink="/home/add-pet/favrot-criteria" routerLinkActive="active" ng-click='back()'
              ui-sref="add_pet.favrot_criteria" id="moving" type="button"
              name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
              style='float:left'>Return
      </button>


      <mat-slider step="1" max=10 min=0 [(ngModel)]="rv"></mat-slider>

      <mat-form-field>
        <input type="text" matInput placeholder="Range" [(ngModel)]="rv">
      </mat-form-field>

    </section>
  </div>
</div>

