<div style="width: auto" class="container">

  <section class="content-header">
    <form #physical_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label"> Quel est le niveau d'activité de <b><app-pet-name></app-pet-name></b> ? </h1> <br>
          <h4><i>Choisissez l'image <b><app-pet-name></app-pet-name></b>s qui correspond le mieux <br> Des précisions supplémentaires sont disponibles lorsque vous cliquez sur une image</i></h4>
        </div>
        <!-- /.box-header -->
        <div style="text-align:center" class="box-body">
          <div id="physical_activity_picture" class="cn-activity-selector has-feedback form-group">


            <label class="cn-activity id_physical_activity_0" [class.clicked_image]="physical_form.physical_activity == 'NONE'"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="NONE"
                                                                                      class='ng-hide'/></label>

            <label class="cn-activity id_physical_activity_1" [class.clicked_image]="physical_form.physical_activity == 'SMALL'">
              <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio" value="SMALL"
                      class='ng-hide'/></label>


            <label class="cn-activity id_physical_activity_2" [class.clicked_image]="physical_form.physical_activity == 'HIGH'"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="HIGH"

                                                                      class='ng-hide'/></label>


            <label class="cn-activity id_physical_activity_3" [class.clicked_image]="physical_form.physical_activity == 'WORKING'"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="WORKING"

                                                                      class='ng-hide'/></label>

          </div>


        </div>
        <!-- /.box-body -->
      </div>

      <div class="box box-default box-solid ">
        <!-- /.box-header -->
        <div class="box-body">
          <ng-template [ngIf]="physical_form.physical_activity == 'NONE'">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='1'} ">
              <blockquote>
                <p> Un chien calme et paisible : pas plus d'une heure de promenade en laisse par jour </p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for Dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 'SMALL'">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='2'} ">
              <blockquote>
                <p> Un chien modérement actif : une heure de promenade active par jour. Avec ou sans laisse.</p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for Dog
                </cite></small>
              </blockquote>
            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 'HIGH'">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='3'} ">
              <blockquote>
                <p> Un chien actif qui pratique au moins une heure d'acitivité intense chaque jour : courrir avec son maître (à pieds ou à vélo), faire de l'agility ...
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 'WORKING'">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='4'} ">
              <blockquote>
                <p>Un chien de travail : au moins six heure d'acitivté par jour (chien d'assistance, de troupeaux ... ) </p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
        </div>
        <!-- /.box-body -->
      </div>
    </form>
    <button *ngIf="physical_form.physical_activity" (click)="save()" routerLink="/home/add-pet/weight" routerLinkActive="active"
           id="moving" type="button" name="next"
            class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Suivant
    </button>

    <button routerLink="/home/add-pet/sex" routerLinkActive="active" id=""
            type="button" name="previous"
            class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous" style='float:left'>
      Retour
    </button>

  </section>
</div>
