<div style="width: auto" class="container">

  <section class="content-header">
    <form #physical_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label"> How active is <b> </b> ? </h1> <br>
          <h4><i>Select the picture that fits best <b> </b>s daily phsyical expenditure. <br> Get
            further informations by selecting a picture </i></h4>
        </div>
        <!-- /.box-header -->
        <div style="text-align:center" class="box-body">
          <div id="physical_activity_picture" class="cn-activity-selector has-feedback form-group">


            <label class="cn-activity id_physical_activity_0" [class.clicked_image]="physical_form.physical_activity == 1"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="1"
                                                                                      class='ng-hide'/></label>

            <label class="cn-activity id_physical_activity_1" [class.clicked_image]="physical_form.physical_activity == 2">
              <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio" value="2"
                      class='ng-hide'/></label>


            <label class="cn-activity id_physical_activity_2" [class.clicked_image]="physical_form.physical_activity == 3"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="3"

                                                                      class='ng-hide'/></label>


            <label class="cn-activity id_physical_activity_3" [class.clicked_image]="physical_form.physical_activity == 4"> <input #physical_activity="ngModel" [(ngModel)]="physical_form.physical_activity" name="physical_activity" type="radio"
                                                                      value="4"

                                                                      class='ng-hide'/></label>

          </div>


        </div>
        <!-- /.box-body -->
      </div>

      <div class="box box-default box-solid ">
        <!-- /.box-header -->
        <div class="box-body">
          <ng-template [ngIf]="physical_form.physical_activity == 1">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='1'} ">
              <blockquote>
                <p> Your dog is a typical dog ! Small leash walk every day and never more than one hour. </p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for Dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 2">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='2'} ">
              <blockquote>
                <p> Your dog is doing at least one hour of moderate exercice : long walk </p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for Dog
                </cite></small>
              </blockquote>
            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 3">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='3'} ">
              <blockquote>
                <p> Your dog is doing at least one hour of intense exercice : running while you're biking or running (or
                  a
                  friend, family member of yours), agility training. This also includes one-time-a-week hunting dogs</p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
          <ng-template [ngIf]="physical_form.physical_activity == 4">
            <div class="box-body form-group has-feedback ng-class:{'ng-hide': pet_data.physical_activity!=='4'} ">
              <blockquote>
                <p>Your dog is a real worker : every-day hunting dogs, guard dog, guide dog and any assistance dog </p>
                <small> FEDIAF <cite title="Nutritionnal Guideline for Dogs and Cats "> Physical Activities for dog
                </cite></small>
              </blockquote>

            </div>
          </ng-template>
        </div>
        <!-- /.box-body -->
      </div>
    </form>
    <button *ngIf="physical_form.physical_activity" (click)="save()" routerLink="/home/add-pet/weight" routerLinkActive="active"
           id="moving" type="button" name="next"
            class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next" style='float:right'>Continue
    </button>

    <button routerLink="/home/add-pet/sex" routerLinkActive="active" id=""
            type="button" name="previous"
            class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous" style='float:left'>
      Return
    </button>

  </section>
</div>
