<div style="width: auto" class="container">

  <section class="content-header">
    <form #flea_treatmentForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Has Flea Bite Dermatitis been ruled out ? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw" class="btn btn-1 btn-1a btn-crossed_0">
              <input #flea_allergy_excluded="ngModel" [(ngModel)]="flea_treatment.flea_allergy_excluded" required id="flea_allergy_excluded"
                     name="flea_allergy_excluded"
                     placeholder="flea_allergy_excluded" class='ng-hide form-control' type="radio" value="1">
              Yes</label>

            <label style="font-size: 2.5vw" class="btn btn-1 btn-1a btn-crossed_1">
              <input #flea_allergy_excluded="ngModel" [(ngModel)]="flea_treatment.flea_allergy_excluded" required id="" name="flea_allergy_excluded"
                     placeholder="flea_allergy_excluded" class='ng-hide form-control' type="radio" value="0"> No
            </label>
          </div>

        </div>

      </div>

      <ng-template [ngIf]="flea_treatment.flea_allergy_excluded == false">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Warning </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw">
              Flea Bite Dermatitis must be ruled out first before joining the study!</label>
          </div>
        </div>

      </div>
      </ng-template>
      <ng-template [ngIf]="flea_treatment.flea_allergy_excluded == true">
        <div ng-show="pet_data['flea_allergy_excluded']=='1'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label">Select the product with which Flea bite dermatitis has been ruled out</h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="flea_drug_pictures" class="ss-selector has-feedback form-group">
              <label class="drunkcard-ss">
                <input #flea_product="ngModel" [(ngModel)]="flea_treatment.flea_product" required id="flea_product" name="flea_product"
                       placeholder="flea_product" type="radio" value="1"
                       class='ng-hide form-control'/>
                <img src="https://s3-us-west-2.amazonaws.com/smart-nutrition/data/img/drug/nexgard.jpg"/>
              </label>
              <label class="drunkcard-ss"><input #flea_product="ngModel" [(ngModel)]="flea_treatment.flea_product" required id="h"
                                                 name="flea_product"
                                                 placeholder="flea_product" type="radio" value="2"
                                                 class='ng-hide form-control'/>
                <img src="https://s3-us-west-2.amazonaws.com/smart-nutrition/data/img/drug/simparica.jpg"/>
              </label>

              <label class="drunkcard-ss"> <input #flea_product="ngModel" [(ngModel)]="flea_treatment.flea_product" required id="dh"
                                                  name="flea_product"
                                                  placeholder="flea_product" type="radio" value="3"
                                                  class='ng-hide form-control'/> <img
                src="https://s3-us-west-2.amazonaws.com/smart-nutrition/data/img/drug/bravecto.jpg"/></label>

              <ng-template [ngIf]="flea_treatment.flea_product == 1">
                <h3 ng-show="pet_data['flea_drug']=='1'" class="control-label"><b>NexGard &copy; </b> every five weeks
                </h3>
              </ng-template>
              <ng-template [ngIf]="flea_treatment.flea_product == 2">
                <h3 ng-show="pet_data['flea_drug']=='2'" class="control-label"><b> Simparica &copy; </b> every five
                  weeks
                </h3></ng-template>
              <ng-template [ngIf]="flea_treatment.flea_product == 3">
                <h3 ng-show="pet_data['flea_drug']=='3'" class="control-label"><b> Bravecto &copy; </b> every three
                  months
                </h3></ng-template>

            </div>
            <!-- /.box-body -->
          </div>

          <button (click)="save()" routerLink="/home/add-pet/food-allergy" routerLinkActive="active"

                  type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
                  style='float:right'>Continue
          </button>

          <button routerLink="/home/add-pet/cadesi" routerLinkActive="active"
                  id="moving" type="button"
                  name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
                  style='float:left'>Return
          </button>
        </div>
      </ng-template>
    </form>

  </section>
</div>
