<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartNutrition</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="assets/static/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
    <!--<link rel="stylesheet" href="assets/static/landing/vendor/font-awesome/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="assets/static/landing/vendor/simple-line-icons/css/simple-line-icons.css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">-->

    <!--&lt;!&ndash; Plugin CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="assets/static/landing/device-mockups/device-mockups.min.css">-->

    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--<link href="assets/static/landing/css/new-age.css" rel="stylesheet">-->
    <!--<link rel="stylesheet" href="assets/static/css/animate.css">-->
    <!--<script src="assets/static/js/wow.js"></script>-->

    <!--<script>new WOW().init();</script>-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120607181-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120607181-1');
</script>



  </head>

  <body id="page-top">

 <!-- Navigation -->
    <nav class="animated wow slideInDown navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" data-wow-duration="1s" data-wow-delay="0s">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"><b>Smart</b>Nutrition</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto animated wow slideInLeft"  data-wow-duration="1.5s" data-wow-delay="0s">
            <div class="header-content mx-auto">
              <h1 class="mb-5"><span style="color:#3c8dbc"><b>Smart</b>Nutrition</span> is a web-app designed by <span style="color:#3c8dbc">vets</span> to make your pet's nutrition easy as a pie</h1>
              <a href="{% url 'connect' %}" class="special btn btn-outline btn-xl js-scroll-trigger">Get Started now !</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto animated wow slideInRight"  data-wow-duration="1.5s" data-wow-delay="0s">
            <div  class="device-container">
              <div class="device-mockup imac">
                <div class="device">
                  <div class="screen">




                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/static/landing/img/Screen.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>


    <section class="features" id="features">
      <div class="container">
        <div style="-webkit-animation-duration: 1s;" class="section-heading text-center animated wow slideInRight"  data-wow-duration="1s" data-wow-delay="0s">
          <h2 style='color:#3c8dbc'>Your pet's diet matters to us</h2>

          <p>Your pet's wellbeing and his diet are linked with no doubts. As vets, we want to help you giving your pet the food he or she deserves. That's why we put together our experience and the most up-to-date science on nutrition in a single place</p>
          <hr>
        </div>
        <div class="row">
          <div class="col-lg-4 my-auto wow animated slideInLeft" data-wow-duration="1s" data-wow-delay="0s">

            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="assets/static/landing/img/Screen2.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6 animated wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="feature-item">
                    <i class="fa fa-paw"></i>
                    <h3>Pet Nutritional Profile</h3>
                    <p class="text-muted">Calculate the most up-to-date data concerning your pet's metabolism</p>
                  </div>
                </div>
                <div class="col-lg-6 animated wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                  <div class="feature-item">
                    <i class="fa fa-bar-chart"></i>
                    <h3>The Petfood Comparator</h3>
                    <p class="text-muted">Find the most suitable food for your pet at the best price</p>
                  </div>
                </div>
<!--                 <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="glyphicon glyphicon-scale">
                    <h3>Weight Logs</h3>
                    <p class="text-muted">Monitore your pet's weight and body condition score to prevent any diest mistakes</p>
                  </div>
                </div>
 -->              </div>
              <div class="row">
                <div class="col-lg-6 animated wow fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="feature-item">
                   <i class="fa fa-calculator"></i>
                    <h3>The Petfood Calculator</h3>
                    <p class="text-muted">Calculate the bespoke quantity of food your pet require</p>
                  </div>
                </div>
<!--                 <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="glyphicon glyphicon-transfer"></i>
                    <h3>The Petfood Switcher</h3>
                    <p class="text-muted">Switch from a diet to another without causing any gastro-enteral stress</p>
                  </div>
 -->                <div class="col-lg-6 animated wow fadeIn" data-wow-duration="1s" data-wow-delay="1.6s">
                  <div class="feature-item">
                    <i class="fa fa-cutlery"></i>
                    <h3>The Homemade Recipes Maker</h3>
                    <p class="text-muted">Prepare a balanced and healthy homemade meal for your pet</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="services-section-color">
      <div class="services-section text-center" id="services"><!-- Services section (small) with icons -->
          <div class="container">
            <div class="col-md-12 nopadding">
              <div class="services-content animated wow slideInUp">
                <h1
 class="slideInRight" data-wow-duration="1s" data-wow-delay="0s"><b>Smart</b>Nutrition makes pet's diet simple</h1>
                <p>
                  Don't buy marketing, rely on science for free instead. Give it a try and see what you can get out of it to the benefit of your four-leged friend.
                </p>
              </div>
            </div>

            <div class="col-md-12 text-center">
              <div class="services">
                <div class='row'>
                <div class="col-lg animated wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="services-icon">
                    <i style='font-size:60px;' class="fa fa-scissors" aria-hidden="true"></i>
                  </div>
                  <div  class="services-description">
                    <h1>Taylor made</h1>
                    <p style="color:black" >
                       Every results are taylor-made for the pet you spefically chose. There can't be a generic result when dealing with the huge variety of dogs and cats
                    </p>
                  </div>
                </div>
                <div class="col-lg animated wow fadeIn"  data-wow-duration="1s" data-wow-delay="0.8s">
                  <div class="services-icon">
                    <i style='font-size:60px' class="fa fa-check" aria-hidden="true"></i>
                  </div>
                  <div class="services-description">
                    <h1>Simple</h1>
                    <p style="color:black">
                      Don't bother with science and calculus. We've got that covered for you and your pet.
                      You just need to know about your pet and we now the rest

                    </p>
                  </div>
                </div>
                <div class="col-lg wow animated fadeIn" data-wow-duration="1s" data-wow-delay="1.2s">
                  <div class="services-icon">
              <i style='font-size:60px' class="fa fa-cloud-download" aria-hidden="true"></i>                  </div>
                  <div class="services-description">
                    <h1>Data Based</h1>
                    <p style="color:black">
                      We have been building so far a huge database of petfoods to be able to compare them on demand and provide your pet with objective solutions
                    </p>
                  </div>
                </div>

                <div class="col-lg wow animated fadeIn" data-wow-duration="1s" data-wow-delay="1.6s">
                  <div class="services-icon">
              <i style='font-size:60px' class="fa fa-dollar" aria-hidden="true"></i>                  </div>
                  <div class="services-description">
                    <h1>Independant</h1>
                    <p style="color:black">
                      We do not receive any money from manufacturers or any person related to the petfood to push forward their products
                    </p>
                  </div>
                </div>

              </div>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="contact" id="contact">
      <div class="container">
        <h2>We
          <i class="fa wow pulse fa-heart" data-wow-duration="10s" data-wow-delay="0s" ></i>
          new friends!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2018 Smart-Nutrtion - All Rights Reserved</p>
        <ul class="list-inline">
<!--           <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
 -->        </ul>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="assets/static/landing/vendor/jquery/jquery.min.js"></script>
    <script src="assets/static/landing/vendor/popper/popper.min.js"></script>
    <script src="assets/static/landing/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/static/landing/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/static/landing/js/new-age.min.js"></script>


  </body>

</html>
