<div style="width: auto" class="container">

  <section class="content-header">
    <form #malassezia_formForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Est-ce que ce chien a une dermatite à Malassezia en ce moment ? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw;" class="btn btn-1 btn-1a btn-crossed_0" [class.clicked_button_warning]="malassezia_form.malassezia == true">
              <input #malassezia="ngModel" [(ngModel)]="malassezia_form.malassezia" name="malassezia" class='ng-hide' class='form-control' type="radio" value="1">
              Oui </label>

            <label style="font-size: 2.5vw;" ng-class="{'active-button':pet_data['malassezia']=='0'}"
                   class="btn btn-1 btn-1a btn-crossed_1" [class.clicked_button]="malassezia_form.malassezia == false">
              <input #malassezia="ngModel" [(ngModel)]="malassezia_form.malassezia" name="malassezia" class='ng-hide' class='form-control' type="radio" value="0"
                     class='ng-hide'> Non </label>
          </div>

        </div>

      </div>

      <ng-template [ngIf]="malassezia_form.malassezia == true">
        <div ng-show="pet_data['malassezia']=='1' " class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border error-header">
            <h1 class="control-label" for="id_Sup2"> Attention </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                Cette dermatite doit être traitée avant d'intégrer l'étude</label>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template [ngIf]="malassezia_form.malassezia == false">
        <div ng-show="pet_data['malassezia']=='0'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label">Votre candidat a-t-il été sujet à des épisodes de dermatite à Malassezia dans le passé ?</h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_0" [class.clicked_button]="malassezia_form.malassezia_history == true">
                <input #malassezia_history="ngModel" [(ngModel)]="malassezia_form.malassezia_history" name="malassezia_history" class='ng-hide' class='form-control' type="radio" value="1"
                > Oui </label>

              <label style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_1" [class.clicked_button]="malassezia_form.malassezia_history == false">
                <input #malassezia_history="ngModel" [(ngModel)]="malassezia_form.malassezia_history" name="malassezia_history" class='form-control' type="radio"
                       value="0"
                       class='ng-hide'> Non </label>
            </div>
            <!-- /.box-body -->
          </div>

          <button *ngIf="malassezia_form.malassezia_history == false || malassezia_form.malassezia_history == true"
                  routerLink="/home/add-pet/otitis"
                  (click)="save()"
                  id="" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
                  style='float:right'>Suivant
          </button>

          <button routerLink="/home/add-pet/pyodermatitis" ng-click='backward()' ui-sref="add_pet.pyodermatitis"
                  id="moving" type="button"
                  name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
                  style='float:left'>Retour
          </button>

        </div>
      </ng-template>
    </form>

  </section>
</div>
