<div style="width: auto" class="container">

  <section class="content-header">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> Is this dog having a Malassezia dermatitis right now
            ? </h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label style="font-size: 2.5vw;" class="btn btn-1 btn-1a btn-crossed_0">
              <input formControlName="malassezia" class='ng-hide' class='form-control' type="radio" value="1">
              Yes</label>

            <label style="font-size: 2.5vw;" ng-class="{'active-button':pet_data['malassezia']=='0'}"
                   class="btn btn-1 btn-1a btn-crossed_1">
              <input formControlName="malassezia" class='ng-hide' class='form-control' type="radio" value="0"
                     class='ng-hide'> No </label>
          </div>

        </div>

      </div>

      <ng-template [ngIf]="profileForm.value.malassezia == 1">
        <div ng-show="pet_data['malassezia']=='1' " class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2" style="color:red"> Warning </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                Malassezia must be cured before joining the study!</label>
            </div>
          </div>

        </div>
      </ng-template>
      <ng-template [ngIf]="profileForm.value.malassezia == 0">
        <div ng-show="pet_data['malassezia']=='0'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label">Has this candidate ever encounter Malassezia dermatitis episodes in the past
              ?</h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_0">
                <input formControlName="malassezia_history" class='ng-hide' class='form-control' type="radio" value="1"
                > Yes</label>

              <label style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_1">
                <input formControlName="malassezia_history" class='ng-hide' class='form-control' type="radio"
                       value="0"
                       class='ng-hide'> No </label>
            </div>
            <!-- /.box-body -->
          </div>

          <button routerLink="/home/add-pet/otitis" ui-sref="add_pet.otitis"
                  ng-show="pet_data['malassezia']=='0' &&( pet_data['malassezia_history']=='0'|| pet_data['malassezia_history']=='1')"
                  id="" type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
                  style='float:right'>Continue
          </button>

          <button routerLink="/home/add-pet/pyodermatitis" ng-click='backward()' ui-sref="add_pet.pyodermatitis"
                  id="moving" type="button"
                  name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
                  style='float:left'>Return
          </button>

        </div>
      </ng-template>
    </form>
    Form Value: {{ profileForm.value | json }}
  </section>
</div>
