<div
  style="text-align:center;padding: 20px 30px; background-color: rgb(243, 156, 18);
   z-index: 999999; font-size: 16px; font-weight: 600; background-position: initial;
    background-repeat: initial;">
  <h2 style="color: rgba(255, 255, 255, 0.901961); display: inline-block; margin-right: 10px; text-decoration: none;">
    <i class="{{ icon }}"></i> {{ label_title }} : {{ label_desc }}</h2>
  <h2 update-title style="color: rgba(255, 255, 255, 0.901961); display: inline-block;"></h2>

</div>


<section class="content" style="min-height: 50px">
  <div uib-alert id="alert" class="alert callout callout-danger" close="bCloseAlert=1" ng-hide="bCloseAlert">
    <h4>What do we do here ?</h4>
    <p>Here we'll tell design a balance and complete diet that you can prepare yourself at home for your pet wit
      usual product you can find every where</p>
  </div>

  <!-- views will be injected here -->
  <div style="width:auto" class="container">



  </div>

</section>
