<div style="width: auto" class="container">

  <section class="content-header">
    <form #food_allergyForm="ngForm" class="editForm" novalidate (ngSubmit)="save()">
      <div class="box box-default box-solid ">
        <div style="text-align:center" class="box-header with-border">
          <h1 class="control-label" for="id_Sup2"> L'allergie alimentaire a-t-elle été exclue avec un régime d'exclusion ?</h1>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="text-align:center">
            <label [class.clicked_button]="food_allergy.excluded == true" style="font-size: 2.5vw;"
                   class="btn btn-1 btn-1a btn-crossed_0">
              <input #excluded="ngModel" [(ngModel)]="food_allergy.excluded" name="excluded" class='ng-hide'
                     class='form-control' type="radio" value="1"
              > Oui</label>

            <label [class.clicked_button_warning]="food_allergy.excluded == false" style="font-size: 2.5vw;"
                   class="btn btn-1 btn-1a btn-crossed_1">
              <input #excluded="ngModel" [(ngModel)]="food_allergy.excluded" name="excluded" class='form-control'
                     type="radio" value="0"
                     class='ng-hide'> Non </label>
          </div>

        </div>

      </div>

      <ng-template [ngIf]="food_allergy.excluded == false">
        <div ng-show="pet_data.food_allergy.excluded=='0'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border error-header">
            <h1 class="control-label" for="id_Sup2"> Attention </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                L'allergie alimentaire doit être exclue avant d'être inlcu dans l'étude</label>
            </div>
          </div>

        </div>
      </ng-template>


      <ng-template [ngIf]="food_allergy.excluded == true">
        <div ng-show="pet_data.food_allergy.excluded=='1'" class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2"> Ce régime d'exclusion a-t-il été suivi pendant 8 semaines ? </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label [class.clicked_button]="food_allergy.more_8_weeks == true" style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_0">
                <input #more_8_weeks="ngModel" [(ngModel)]="food_allergy.more_8_weeks" name="more_8_weeks"
                       class='ng-hide' class='form-control' type="radio" value="1"
                       class='ng-hide'> Oui </label>

              <label [class.clicked_button_warning]="food_allergy.more_8_weeks == false" style="font-size: 2.5vw;"
                     class="btn btn-1 btn-1a btn-crossed_1">
                <input #more_8_weeks="ngModel" [(ngModel)]="food_allergy.more_8_weeks" name="more_8_weeks"
                       class='ng-hide' class='form-control' type="radio" value="0"
                       class='ng-hide'> Non </label>
            </div>

          </div>

        </div>
      </ng-template>


      <ng-template [ngIf]="food_allergy.more_8_weeks == false && food_allergy.excluded == true">
        <div
          class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border error-header">
            <h1 class="control-label" for="id_Sup2"> Attention </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div style="text-align:center">
              <label style="font-size: 2.5vw">
                L'exclusion de l'allergie alimentaire ne peut être que valide si le régime d'exclusion a été suivi pendant 8 semaines.</label>
            </div>
          </div>

        </div>
      </ng-template>

      <ng-template [ngIf]="food_allergy.excluded == true && food_allergy.more_8_weeks == true">
        <div ng-show="pet_data.food_allergy.excluded=='1' && pet_data.food_allergy.more_8_weeks=='1'"
             class="box box-default box-solid ">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label"> L'allergie alimentaire a-t-elle été exclue avec un aliment industriel ou une ration ménagère </h1>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div id="food_picture" class="food-selector has-feedback form-group">


              <label class="ct-cn-food id_food_presentation_0"
                     [class.clicked_image]="food_allergy.industrial_or_homemade == 'INDUSTRIAL'"> <input
                #industrial_or_homemade="ngModel"
                [(ngModel)]="food_allergy.industrial_or_homemade"
                name="industrial_or_homemade"
                type="radio" value="INDUSTRIAL"
                class='form-control ng-hide'/></label>

              <label class="ct-cn-food id_food_presentation_2"
                     [class.clicked_image]="food_allergy.industrial_or_homemade == 'HOMEMADE'">
                <input #industrial_or_homemade="ngModel" [(ngModel)]="food_allergy.industrial_or_homemade"
                       name="industrial_or_homemade" type="radio" value="HOMEMADE"
                       class='form-control ng-hide'/></label>
            </div>

            <ng-template [ngIf]="food_allergy.excluded == true && food_allergy.more_8_weeks == true && food_allergy.industrial_or_homemade == 'INDUSTRIAL'">
              <div ng-show="pet_data.food_allergy.type=='1'" class="box-body form-group has-feedback">
                <blockquote>
                  <h2><p>Aliment industriel</p></h2>
                </blockquote>
              </div>
            </ng-template>
            <ng-template [ngIf]="food_allergy.excluded == true && food_allergy.more_8_weeks == true && food_allergy.industrial_or_homemade == 'HOMEMADE'">
              <div ng-show="pet_data.food_allergy.type=='2'" class="box-body form-group has-feedback">
                <blockquote>
                  <h2><p>Ration ménagère</p></h2>
                </blockquote>

              </div>
            </ng-template>

          </div>

        </div>
      </ng-template>
      <ng-template
        [ngIf]="food_allergy.excluded == true && food_allergy.more_8_weeks == true && food_allergy.industrial_or_homemade == 'INDUSTRIAL' || food_allergy.excluded == true && food_allergy.more_8_weeks == true && food_allergy.industrial_or_homemade == 'HOMEMADE'">
        <div class="box box-default box-solid">
          <div style="text-align:center" class="box-header with-border">
            <h1 class="control-label" for="id_Sup2"> Quel aliment a été utilisé en particulier pour cette exclusion alimentaire ?</h1>
          </div>

          <div class="box-body">
            <ng-template [ngIf]="food_allergy.industrial_or_homemade == 'INDUSTRIAL'">
              <div>

                <mat-radio-group class="example-radio-group" [(ngModel)]="food_allergy.what_petfood"
                                 [ngModelOptions]="{standalone: true}">

                  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                  </mat-radio-button>
                </mat-radio-group>


              </div>
            </ng-template>
            <ng-template [ngIf]="food_allergy.industrial_or_homemade == 'HOMEMADE'">
              <div ng-show="pet_data.food_allergy.type=='2'" style="text-align:center">
                <div><p>
                  Veuillez renseigner succintement les ingrédients utilisées pour composer la ration ménagère. Par exemple : poulet, riz, haricots verts, huile de colza, complément minéral Viti5 </p></div>
                <div>
                  <textarea #what_petfood="ngModel" [(ngModel)]="food_allergy.what_petfood"
                            name="what_petfood"></textarea>
                </div>

              </div>
            </ng-template>
          </div>

        </div>
        <!-- /.box-body -->
      </ng-template>

      <button *ngIf="food_allergy.excluded == true && food_allergy.more_8_weeks == true && food_allergy.what_petfood.length > 0" (click)="save()" routerLink="/home/add-pet/pyodermatitis"
              routerLinkActive="active" name="next" type="button"
              class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
              style='float:right'>Suivant
      </button>

      <button routerLink="/home/add-pet/flea-treatment" routerLinkActive="active" id="" type="button" name="previous"
              class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left"
              value="Previous" style='float:left'>Retour
      </button>
    </form>

  </section>
</div>


