.id_food_presentation_0 {
  background: url("/assets/static/data/img/dry_food.png");
}

.id_food_presentation_2 {
  background: url("/assets/static/data/img/natural_food.png");
}

label input {
  display: none !important
}

.ct-cn-food {
  background-repeat: no-repeat;
  -webkit-background-size: 80%;
  background-size: 80%;
}

textarea {
  width: 50%;
  min-height: 140px
}
