<app-common-labels [label_title]="'New Physical Consultation'" [label_desc]="'Pyoderma / Otitis'"></app-common-labels>
<div style="width: auto" class="container">

  <section class="content-header">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2">  <b><app-common-data [element]="'pet_name'"></app-common-data></b> a-t-il une pyodermite au moment de la consultation ? </h1>
      </div>

      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="pyodermatitis == 1" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="is_pyodermatitis = true"  [(ngModel)]="pyodermatitis" class='form-control' type="radio" value="1" name="third"
                   > Oui </label>

          <label [class.clicked_button]="pyodermatitis == 0" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="is_pyodermatitis = null" [(ngModel)]="pyodermatitis" class='form-control' type="radio" value="0" name="third"
                   > Non </label>
        </div>

      </div>

    </div>

    <ng-template [ngIf]="pyodermatitis == 1">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border error-header">
        <h1 class="control-label" for="id_Sup2"> Attention </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label style="font-size: 2.5vw">
            La pyodermite doit être traitée pour rester dans l'étude.</label>
        </div>
      </div>

    </div>
    </ng-template>

    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2"> <b><app-common-data [element]="'pet_name'"></app-common-data></b> a-t-il une otite externe au moment de la consultation ? </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="otitis == 1" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="is_otitis = true" [(ngModel)]="otitis" class='form-control' type="radio" value="1" name="second"
                   > Oui </label>

          <label [class.clicked_button]="otitis == 0"  style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="is_otitis = null" [(ngModel)]="otitis" class='form-control' type="radio" value="0" name="second"
                  > Non </label>
        </div>

      </div>

    </div>

    <ng-template [ngIf]="otitis == 1">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border error-header">
        <h1 class="control-label" for="id_Sup2"> Attention </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label style="font-size: 2.5vw">
            L'otite externe doit être traitée pour rester dans l'étude</label>
        </div>
      </div>

    </div>
    </ng-template>

    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border">
        <h1 class="control-label" for="id_Sup2"><b><app-common-data [element]="'pet_name'"></app-common-data></b> a-t-il une dermatite à Malassezia ? </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label [class.clicked_button_warning]="malassezia == 1" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_0">
            <input (click)="is_malassezia = true" [(ngModel)]="malassezia" class='form-control' type="radio" value="1" name="first"
                   > Oui </label>

          <label [class.clicked_button]="malassezia == 0" style="font-size: 2.5vw;"
                 class="btn btn-1 btn-1a btn-crossed_1">
            <input (click)="is_malassezia = null" [(ngModel)]="malassezia" class='form-control' type="radio" value="0" name="first"
                   > Non </label>
        </div>

      </div>

    </div>
    <ng-template [ngIf]="malassezia == 1">
    <div class="box box-default box-solid ">
      <div style="text-align:center" class="box-header with-border error-header">
        <h1 class="control-label" for="id_Sup2"> Attention </h1>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div style="text-align:center">
          <label style="font-size: 2.5vw">
            La dermatite à Malassezia doit être traitée pour rester dans l'étude</label>
        </div>
      </div>

    </div>

    </ng-template>
    <button [routerLink]="['../flea-treatment']" (click)="save()"
      type="button" name="next" class="next btn-special btn-4 btn-4a icon-arrow-right" value="Next"
      style='float:right'>Suivant
    </button>

    <button routerLink="/home/new-physical-consultation/supporting-diet" type="button"
            name="previous" class="previous btn-special btn-4-prev btn-4b-prev icon-arrow-left" value="Previous"
            style='float:left'>Retour
    </button>

  </section>
</div>
