<link rel="stylesheet" href="assets/static/data/css/home.css">


<script src="assets/static/data/js/home.js"></script>


<div ng-switch on="list_of_pets_from_user.length"
     style="text-align:center;padding: 20px 30px; background-color: rgb(243, 156, 18); z-index: 999999; font-size: 16px; font-weight: 600; background-position: initial; background-repeat: initial;">
  <h2 ng-switch-default ng-style
      style="color: rgba(255, 255, 255, 0.901961); margin-right: 10px; text-decoration: none;"><i
    class="fa fa-home"></i> Home </h2>
  <div ng-switch-when="0">
    <div>
      <h2 ng-style style="color: rgba(255, 255, 255, 0.901961); margin-right: 10px; text-decoration: none;"><i
        class="fa fa-home"></i> Bienvenue sur Smart-Atopia ! </h2>
    </div>
    <div>
      <p style="color: rgba(255, 255, 255, 0.901961);  margin-right: 10px; text-decoration: none;">Vous deveez inclure un animal (cliquez sur la croix) avant d'avoir accès à toutes les fonctionnalités de Smart-Atopia</p></div>

  </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
  <!--       <h1> Welcome
          <small>it all starts here</small>
        </h1>
   -->
  <!-- Main content -->
  <section class="content">


    <div class="row" style="text-align:center">
      <div *ngFor="let tab of main_tabs" (mouseover)="mouse_tab=tab.id" >
        <div class="slide_in col-sm-4 cardflow-card active-tab">
          <a routerLink="{{ tab.url }}" routerLinkActive="active">
            <h1 class="display-1">
              <i class="{{ tab.icon }}"></i>
            </h1>
          </a>
          {{ tab.title }}

        </div>

      </div>
    </div>


    <div class="bs-callout bs-callout-primary information_tool_box">
      <div class="row" *ngFor="let tab of main_tabs">
        <div *ngIf="mouse_tab == tab.id">
          <div class="col-sm-8">
            <h3>{{ tab.desc_title }}</h3>
            <p>{{ tab.desc_desc }}</p>

          </div>
          <div class="col-sm-4" style="text-align:right">
            <a routerLink="{{ tab.url }}" routerLinkActive="active">
              <h1 class="animated infinite pulse">
                <i class="{{ tab.icon }}"></i>
              </h1>
            </a>
          </div>
        </div>
      </div>


    </div>


  </section>
</section>

