<!DOCTYPE html>
<html ng-app="djangular-demo">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Smart-Atopia | Home </title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">


  <script src="assets/static/data/js/jquery-2.2.3.min.js"></script>
  <script src="assets/static/data/js/bootstrap.min.js"></script>


</head>
<body class="hold-transition skin-blue sidebar-mini">


<div class="xwrapper">

  <header class="main-header">
    <!-- Logo -->
    <a routerLink="/home/welcome/" routerLinkActive="active" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>Atopia</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Smart</b>Atopia</span>
    </a>

    <nav class="navbar navbar-static-top">

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown messages-menu">
            <a>
              <span (click)="logout()" style="cursor: pointer">Deconnexion</span>
            </a>
        </ul>
      </div>
    </nav>

  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">

          <img src="assets/static/data/img/uzh.jpg" class="img-circle" alt="User Image">

        </div>
        <div class="pull-left info pull-left-hello">
          <p style="margin: 0;white-space: normal;">Bonjour {{ recruiter }} </p>
<!--          <a href="#"><i class="fa fa-circle text-success"></i> Smart-Atopia is ready to work and updated!</a>-->


        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul ng-controller="lateral-bar" class="sidebar-menu">
        <li class="header">Smart Atopia tools</li>


        <li class="treeview">
          <a routerLink="/home/welcome" routerLinkActive="active">
            <i class="fa fa-home"></i><span>HOME</span>

          </a>
        </li>

        <li class="treeview">
          <a routerLink="/home/my-pet-dashboard" routerLinkActive="active"><i class="glyphicon glyphicon-dashboard"></i><span>Mes animaux inclus</span>

          </a>
        </li>

        <li class="treeview">
          <a routerLink="/home/add-pet/disclaimer" routerLinkActive="active"><i class="fa fa-plus"></i><span>Inclure un nouvel animal</span>

          </a>
        </li>


        <li class="treeview">
          <a routerLink="/home/new-physical-consultation/pet" routerLinkActive="active"><i
            class="fa fa-stethoscope"></i><span>Nouvelle consultation physique</span>

          </a>
        </li>


        <li class="treeview">
          <a routerLink="/home/new-phone-consultation/pet" routerLinkActive="active"><i class="fa fa-phone"></i><span>Nouvelle consultation à distance (mail/tel) </span>

          </a>
        </li>


        <li class="treeview">
          <a routerLink="/home/homemade/pet" routerLinkActive="active"><i
            class="fa fa-cutlery"></i><span>Ration ménagère dermatologique</span>

          </a>
        </li>


      </ul>

    </section>
    <!-- /.sidebar -->
  </aside>


  <div class="content-wrapper" style="min-height: 100vh">
    <router-outlet></router-outlet>




  </div>


  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.6
    </div>
    <strong>Copyright &copy; 2019 <a>SmartAtopia</a>.</strong> All rights
    reserved.


  </footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <!-- ./wrapper -->

</div>


</body>

</html>
